.history
  font-family "Herculanum", sans-serif
.rome
  font-family "Trajan Pro", sans-serif
.cihma
  font-family "GregorianFLF", sans-serif
.dnd
  font-family "IrishUncialfabeta-Bold", sans-serif
.theme-container.cambridge-medieval
  h2
    font-family "Herculanum", sans-serif
  p
    font-family "Times New Roman", sans-serif
    font-style italic

