//    主页
.history
	font-family Herculanum, sans-serif

.rome
	font-family Trajan Pro, sans-serif

//.cihma1
//	font-family Gregorian, sans-serif
//
//.cihma2
//	font-family Luminari, sans-serif
//
//.cihma3
//	font-family Gregorian, sans-serif

.dnd
	font-family Dalelands Uncial, sans-serif

//    内容页
.theme-container.cambridge-illustrated
	h2
		font-family Gregorian, "Weibei SC", sans-serif

	h3
		font-family Trajan Pro, "Xingkai SC", sans-serif

	p
		font-family Baskerville, sans-serif
		font-style italic
		font-size 1.2rem

.theme-container.blackwell
	h2
		font-family Trajan Pro, "Weibei SC", sans-serif

	h3
		font-family Trajan Pro, "Kaiti SC", sans-serif

	blockquote p
		font-family Cursive, sans-serif

	p
		font-family Georgia, sans-serif //Palatino
		font-style italic
		font-size 1.2rem

//    TOC页面
.toc
	padding-top 2rem

//    Valine组件
#vcomments
	max-width: 1000px
	margin: 0 auto
	.vheader .vinput
		width: 85%
	.vheader input[name="link"]
			display: none
