.history
  font-family Herculanum, sans-serif
.rome
  font-family Trajan Pro, sans-serif
.cihma
  font-family Gregorian, sans-serif
.dnd
  font-family Dalelands Uncial, sans-serif

.theme-container.cambridge-medieval
  h2
    font-family Herculanum Full, sans-serif
  p
    font-family "Times New Roman", sans-serif
    font-style italic
